*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
.calculator{
    text-align: center;
    width: calc(100% - 3rem);
    display: flex;
    flex-direction: column;
}
 h1{
     background-color: #654fef;
     padding: 10px;
     border-radius: 10px;
    font-size: 1.3rem;
  margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.title{
  margin-bottom: 2rem;
  background-color: #654fef;
}
.main-display{
    text-align: right;
    font-size: 3rem;
    padding-right: 20px;
    margin-bottom: 20px;
}
.row{
    display: flex;
    margin-bottom: 15px;
}
.row .btn , .result-btn{
    width: 25%;
    text-align: center;
    margin: 0 10px 0 0;
    padding: 13px 0;
    border-radius: 30px;
    background-color: #333333;
    cursor: pointer;
}
.row1 .btn{
background-color:#a5a5a5;
}
.row .btn:last-child, .result-btn{
    background-color: #ffa45c;
}
.row5 .btn:first-child{
    width: 50%;
}
@media (min-width:720px){
    .calculator{
        width: calc(100% - 24rem);
        display: flex;
    }
}
.row .btn:active{
background-color: rgb(32, 32, 32);
}
.row .btn:last-child:active, .result-btn:active{
    background-color: #8b3f00;
}
@media (min-width:1320px){
    .calculator{
        width: calc(100% - 64rem);
    }
}

